deviceIterations(1)
replicationFactor(1)
Training.gradientAccumulation(1)    # How many gradient steps to accumulate
modelName("pna_reproduce_8")        # Remember to change the folder name here for each run, this should be the run name
enableProfiling("pro_vision")       # The folder where the profile will be stored
Jit.traceModel(True)
