[tool.black]
line-length = 110
target-version = ['py37', 'py38']
include = '\.pyi?$'

[tool.pytest.ini_options]
minversion = "6.0"
# nb_test_files = false # buggy at the moment
# addopts = "--verbose --cov --cov-report xml --cov-report term"
addopts = "--verbose"
testpaths = ["tests", "notebooks"]
filterwarnings = [
    "ignore::DeprecationWarning:tensorboard.*:",
    "ignore::DeprecationWarning:ray.*:",
    "ignore::DeprecationWarning:numba.*:",
    "ignore::UserWarning:umap.*:",
]

[tool.coverage.run]
omit = ["setup.py", "tests/*"]

[tool.coverage.xml]
output = "cov.xml"
