--find-links https://data.pyg.org/whl/torch-2.0.1+cpu.html

pip
typer
loguru
tqdm
numpy
scipy >==1.4
sympy
pandas >==1.0
scikit-learn
seaborn
fsspec >==2023.6.0
s3fs >==2023.6.0
gcsfs >==2023.6.0
appdirs
tensorboard
torchmetrics >=0.7.0,<0.11
hydra-core >==1.0
ogb
rdkit >==2020.09
umap-learn
pytest >==6.0
pytest-cov
pytest-xdist
pytest-forked
black >=23
jupyterlab
ipywidgets
anaconda-client
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
mkdocs-jupyter
markdown-include
rever >==0.4.5
omegaconf
loguru
appdirs
matplotlib
tk
datamol
PyYAML
wandb
optuna
google-cloud-storage
mup
networkx
pyg-nightly
fastparquet
torch-scatter==2.1.1
torch-sparse==0.6.17
lightning @ git+https://github.com/Lightning-AI/lightning@ca30fd7752582201a3966806c92e3acbbaf2a045
lightning-graphcore @ git+https://github.com/s-maddrellmander/lightning-Graphcore.git
