deviceIterations(20) # IPU would require large batches to be ready for the model.
replicationFactor(8)
# enableProfiling("graph_analyser")       # The folder where the profile will be stored
# enableExecutableCaching("pop_compiler_cache")
TensorLocations.numIOTiles(128)
_Popart.set("defaultBufferingDepth", 128)
