deviceIterations(16)
replicationFactor(1)
Training.gradientAccumulation(1)    # How many gradient steps to accumulate
modelName("reproduce_mixed")        # TODO: Use the name from the main file, and add date/time
enableProfiling("pro_vision")       # The folder where the profile will be stored
Jit.traceModel(True)
enableExecutableCaching("pop_compiler_cache")
